<h2>Búsquedas</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    Por país
  </li>
  <li
    class="list-group-item"
    routerLink="continente"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    Por continente
  </li>
  <li
    class="list-group-item"
    routerLink="capital"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    Por capital
  </li>
</ul>
