<div class="animate__animated animate__fadeIn animate__faster">
  <h3>Buscar por continente <small>{{continentActive | titlecase}}</small></h3>
  <hr />
  <h5>Seleccione el continente</h5>

  <div class="row">
    <div class="col">
      <!-- [class.btn-primary]="continent === continentActive" -->
      <!-- >>> that works-->
      <!-- [ngClass]="{'btn-primary': continentActive === continent,
                  'btn-outline-primary': continentActive !== continent}" -->
      <button
        *ngFor="let continent of continents"
        class="btn btn-outline-primary mr-1 mb-1"
        [class]="getClassCSS(continent)"
        (click)="activateContinent(continent)"
      >
        {{ continent | titlecase }}
      </button>
    </div>
  </div>
</div>

<ng-template *ngIf="hayError"></ng-template>
<app-pais-tabla [countries]="countries" [hayError]="hayError"></app-pais-tabla>
